*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}

.containe{ 
        position: absolute;
        top: 50%;
        left: 63%;
        transform: translate(-82%, -50%);
}

.image{
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
    height: 125px;
    width: 125px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC-VofzrMhsdXJzxZQlwV7wowPQuLDegT6Aw&usqp=CAU);
    background-size: cover;
    background-position: center;
}
.box{
    position: relative;
    background-color: antiquewhite;
    height: 130px;
    width: 130px;
    margin: 10px;
    display: inline-block;
    translate: trans;
    float: bottom;
    
}